.div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content {
    background: #17A2B8;
    color: white;

}

#p-des {
    color: white;
    opacity: 0.5;
}

.slide-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-content-left div {
    width: 75%;
}

#btn-slide-content-right {
    margin-left: 20px;
}

.div-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.p-card {
    margin-left: 10px;

}

.div-p-card {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.div-price-card {
    display: flex;
}

.div-price-card span {
    color: #6C757D;
    margin-left: 10px;
    text-decoration: line-through;
    font-weight: 400;
}

.div-price-card p {
    font-weight: 700;
    width: 100%;
    color: red;
}

.img-teacher {
    width: 35px;
    height: 35px;
    border-radius: 18px;
}

.div-card-footer {
    width: 75%;
    margin-top: 10px;
    display: flex;
}

.div-border-footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: rgb(197, 194, 194) 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.div-card-footer p {
    margin-left: 10px;
    margin-top: 2px;

}

.fa-bookmark {
    width: 12px;
    height: 16px;
    color: #6C757D;
    align-items: end;

}

.div-card-body h6 {
    width: 100%;
    color: #007BFF;

}

.div-card-body .div-p-card {
    width: 100%;
    font-weight: 600;
}

.div-courses {
    display: flex;
    justify-content: center;

}

.div-card-body {
    width: 80%;

}

.course-content-recommended {
    width: 80%;
}

.courses-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.course-content-recommended h2 {
    height: 100px;
    display: flex;
    align-items: center;
}

.div-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(197, 194, 194) 1px solid;
    width: 100%;
}

.footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    font-weight: 500;
}

.footer p {
    display: flex;
    align-items: center;
}

#header-search-input {
    font-family: Arial, FontAwesome;
}

.dropdown-toggle::after {
    display: none;
}

.fa-minus {
    width: 10px;
    font-size: 20px;
    margin-left: 5px;
}